.buttonLink {
  color: var(--header-button-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding: 5px 12px;
  border-radius: 40px;
  text-decoration: none;
  transition:
    background-color 0.2s,
    color 0.2s;

  &:hover {
    color: var(--header-button-color-hover);
    background-color: var(--header-button-bg-hover);
  }
}
