@use '../../styles/variables' as *;

.figure {
  margin: 0;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
}

.caption {
  font-family: $font-family;
  color: var(--dark-grey);
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
