@use "../../styles/variables" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

@media screen and (max-width: var(--breakpoint-md)) {
  .grid {
    grid-template-columns: 1fr;
  }
}
