@use "../../styles/variables" as *;

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.iframe {
  border: 0;
  border-radius: var(--work-items-border-radius);
}

@media only screen and (max-width: 568px) {
  .wrapper {
    display: none;
  }
}
